<!doctype html>
<html>
<title>{{ radio_id }}</title>
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</header>
<style type="text/css">
    .card {
      box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
      min-width: 200px;
      margin: auto;
      text-align: center;
      margin: 10px;
      padding: 5px;
      float: left;
    }
    .card p {
        margin: 5px;
    }

</style>
<body>
<div class="container">
    <h3> Interesting products</h3>
    <div class="row justify-content-center">
        {% for product in products %}
        <a href="{{ product.product_url }}">
            <div class="card" style="width: 18rem;">
                <img class="card-image-top" src="{{ product.image_url }}" alt="{{ product.product_name }}" width="120"
                     height="80">
                <div class="card-body">
                    <p class="card-text">{{ product.product_name }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
        <div class="col-sm-1"></div>
    </div>
</div>
</body>
</html>